* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;
  height: 100%;
  justify-content: space-between
}

/* Header */

header .fixed {
  width: 100%;
  height: 70px;
  background-color: #FF6900;
}

header .fixed .container{
  align-items: center;
  ;
}

.container ul {
  list-style: none;
}

.container ul a{
  padding: 5px;
  text-decoration: none;
  color: white;
}

.container ul a:hover {
  color: blue;
}

/* Main */

main .container {
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: center;
}

main .container .item {
  margin: 5px auto;
  width: 350px;
  display: inline-block;
}

main .item img{
  width: 100%;
  object-fit: 100%;
}

.photo-item{
  position: relative;
}

.item .heart {
  font-size: 35px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
}

.item .discount {
  font-size: 10px;
  padding: 5px 10px;
  position: absolute;
  bottom: 45px;
  left: 0;
  background-color: red;
  color: white;
}

.item .sostainable {
  font-size: 10px;
  padding: 5px 10px;
  position: absolute;
  bottom: 45px;
  left: 45px;
  background-color: green;
  color: white;
}

.item .list-item .brand {
  display: block;
  font-size: 12px;
}

.item .list-item .item-name {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.item .list-item .d-price {
  color: red;
  font-size: 14px;
  font-weight: 700;
}

.item .list-item .o-price {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 700;
}


