* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

h4,
h5,
h6 {
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
  justify-content: space-between
}

/* Header */

header .fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #FF6900;
}

header .fixed .container{
  align-items: center;
}

.container ul {
  list-style: none;
}

.container ul a{
  padding: 5px;
  text-decoration: none;
  color: white;
}

.container ul a:hover {
  filter: opacity(.4);
}

.container .logo img{
  width: 150px;
}

.container .logo img:hover {
  filter: opacity(.6);
  cursor: pointer;
}

/* Main */

main .container {
  padding-top: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

main .container .item {
  margin: 5px auto;
  width: 350px;
  display: inline-block;
}

main .photo-item img{
  width: 100%;
}

.photo-item{
  position: relative;
  cursor: pointer;
}

.photo-item img {
  width: 100%;
}


.photo-item .alternative{
  position: absolute;
  display: none;
}

.photo-item:hover .alternative{
  top: 0;
  left: 0;
  display: inline;
}


.item .heart {
  font-size: 35px;
  padding: 5px 15px;
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
}

.item .heart:hover {
  color: red;
}

.item .discount {
  font-size: 10px;
  padding: 5px 10px;
  position: absolute;
  bottom: 85px;
  left: 0;
  background-color: red;
  color: white;
  display: none;
}

.item .eco {
  font-size: 10px;
  padding: 5px 10px;
  position: absolute;
  bottom: 85px;
  left: 45px;
  background-color: green;
  color: white;
  display: none;
}

.item .brand {
  display: block;
  font-size: 12px;
}

.item .item-name {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.item .c-price {
  color: red;
  font-size: 14px;
  font-weight: 700;
}

.item .o-price {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 700;
  display: none;
}

/* Cases */

/* option 1 - no badge*/
/* .discount, .eco, .o-price -> display: none */

/* option 2 -> 2 badges on*/

.all-badges .discount,
.all-badges .eco{
  display: block;
}

.all-badges .o-price,
.no-eco .o-price {
  display: inline-block;
}

/* option 3 -> 1 badge on(discount)*/


.no-eco .discount{
  display: block;
}

/* option 4 -> 1 badge on (eco)*/

.no-discount .eco{
  bottom: 85px;
  left: 0;
  display: block;
}


/* Footer */

footer{
  margin-top: 50px;
  padding: 20px;
  background-color: #1A1A1A;
}

.social ul li{
  list-style: none;
}

.privacy a {
  font-size: 10px;
}







